/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
} 

* {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

/*--------------- MAIN STYLING ------------------*/


.center-block {
    float: none !important;
}

html, body {
    padding:0;
    margin:0;
    height: 100%;
    color:#222;
    background-color:#fff;
}

.left{
    text-align:left;
}

#wrap {
    margin:0 auto;
    min-height:100%;
    position:relative;
}

.main-title{
    width:100%;
    padding:15px 5px;
    background: #7FB5DA;
    color:#ffffff;
    text-align: center;
    margin:0px 0px 10px 0px;
}

.container{
    padding:0;
    margin:0 auto;
    width:100%;
}

.container-fluid{
    width:100%;
    margin:0 auto;
    padding:0;
}

.tabs{
    margin-bottom:30px;
}

#main {
    overflow:auto;
}

.body-content{
    background-color:#222;
    margin: 0;
}

.body-content .instructions{
    border: 15px solid #222;
    background-color:#EEE;
    font-family: 'Allan', cursive;
}

.body-content .instructions h2{
    font-size: 2.5em;
    font-weight: bold;
}

.body-content .instructions li{
    list-style: disc;
    margin: 3px 0;
    font-size: 1.65em;
}

.body-content .servers{
    padding:0!important;
}

.body-content .servers li img{
    margin-right: 20px;
    width: 120px;
}

.body-content .servers li{
    list-style: none;
}

.body-content .instructions img{
    margin:auto;
    width:100%; 
    border:8px solid #ffffff;
}

/*  footer */
#footer{
    bottom:0;
    margin-bottom: 0;
    width:100%;
    height:50px;   /* Height of the footer */
    color:#fff;
    padding: 15px 30px;
    border: none;
    /*    -webkit-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);*/
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.footer-title{
    border-bottom: 1px solid #fff;
    font-size: 22px;
    background: #FF6E5E;
    width:100%;
    padding: 5px;
    border-radius:10px;
}

#footer p a{
    color: #fff;
    font-size: 16px;
}

.navbar{
    padding: 10px 20px;
    border: none;
    margin:0;
    /*-webkit-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);*/
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.navbar-default .navbar-nav > li > a {
    color: #FFFBD3;
}

.navbar-default .navbar-brand {
    /*text-shadow: -1px 2px 2px rgba(0, 0, 0, 1);*/
    color: #FFFBD3;
    font-size: 1.75em;
}

.navbar-default .navbar-brand:hover{
    color:#FFFBD3;
}

.nav li{
    font-size: 1.5em;
}

.nav li ul{
    background-color:#ff3019;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #FFFBD3;
}

.nav li ul li:hover{
    color:#FFFBD3;
    background-color: transparent;
}

.nav li a{
    /*text-shadow: -1px 2px 2px rgba(0, 0, 0, 1);*/
    color:#FFFBD3;
}

.nav li a:hover{
    background-color: transparent;
    color:#FFFBD3;
    text-decoration: underline;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FFFBD3;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFFBD3;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover {
    color:#FFFBD3;
    background-color: transparent;
}

.dropdown-menu li a {
    color:#FFFBD3;
}


.dropdown-toggle .dropdown-menu li {
    color:#FFFBD3;
}

.server-select{
    width:100%;
    font-size: 20px;
    padding:10px;
    margin:10px;
}

.server-icon{
    max-width:50px;
    margin-right: 10px;
}

.server-items{
    max-height: 300px;
    overflow:auto;
}

.green{
    color:green;
}

.red{
    color:red;
}

.server-image{
    width:100%;
    height:auto;
    overflow:hidden;
    margin: 20px 0px;
}

#individual-container{
    margin: 20px;
}



.row{
    width:100%;
    padding:0;
    margin:0;
}

img{
    padding:0;
    margin: 0;
}

/* HEADER IMAGE CONTAINER */
.hero {
    //background: url('../images/cafe_main_pic.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
}
.hero .container {
    width:100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 280px;
    background-color: #222;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.hero .container h1 {
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 1);
    margin-right:auto;
    margin-left: auto;
    color: #fff;
    font-size: 4em;
    margin-bottom:10px;
}

.hero .container p {
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 1);
    margin-right:auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 50%;
    color: #fff;
    font-size: 1.5em;
}

.hero .container a {
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 1);
    margin: 30px;
    font-weight:bold;
    font-size: 2em;
    color:#fff;
    padding: 5px;
    border: none;
    margin:0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.blue{
    color:blue;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#fff;
    color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}


/*--------------- GRAPH TITLE STYLING ------------------*/

.main-graph-title{
    border-top:1px solid #333;
    border-bottom:1px solid #333;
    width:100%;
    margin: 20px 0;
    padding: 10px 0;
    text-align:center;
}

.main-graph-title h2{
    margin:0; 
    padding: 0;
}

.graph-title{
    text-align:center;
    width:100%;
}

#guyContainer{
    /*background: url('../images/cream.jpg');*/
}

.arrow-container{
    /*border: 3px solid #333333;*/
    display:none;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #ff3019;
    position:fixed;
    bottom: 30px;
    right: 30px;
}

.arrow-up:hover{
    cursor:pointer;
    opacity:0.8;
}



/*--------------- MEDIA QUERIES ------------------*/

@media screen and (max-width: 768px) {

    .hero .container p {
        width: 80%;
        font-size: 1.25em;
    }

    .hero .container a {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 648px) {
    .hero .container {
        padding: 15px 0;
    }

    .hero .container h1 {
        font-size: 2em;
    }

    .hero .container p {
        width: 80%;
        font-size: 1.25em;
    }

    .hero .container a {
        font-size: 1.25em;
    }
}


@media screen and (max-width: 480px) {

    .hero .container h1 {
        font-size: 2.5em;
    }

    .hero .container p {
        font-size: 1em;
    }
}



#positive_charts, #negative_charts{
    display:none;
}

#main-food{
    text-align:center;
}


.body-content img{
    margin: auto;
    width:250px;
}

#warning {
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}


/* Custom Bootstrap TAB*/

.nav-pills li a:link {
    background:#fff;
    color:#4c4c4c;
}

/* //Ref:  http://jonpolygon.com/bootstrap-tabs-100-percent-width-charts/*/
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;     
    height: 0;          
    overflow-y: hidden; 
}

.tab-content > .active,
.pill-content > .active {
    height: auto;       
} 

.create_link{
    float:right;
    clear:both;
}

.item_img{
    float:left;
    width:35%;
    height:45%;
    margin-left:10%;
    text-align:center;
    padding-bottom:1%;
}

div.item_img img{
    width:100%;
    height:95%;
}


.item_edit_form{
    float:left;
    margin-left:5%;
}
